.notification_warning{
    background-color: #ffffff;
    position: absolute;
    /* width: max-content; */
    transition: all 0.5s ease-out;
    /* transition: left 1s 1s; */
    /* transform: translateX(-100px); */
    padding: 1em;
    /* text-wrap: nowrap; */
    display: flex;
    /* box-shadow: 5px 5px 10px 0px #4D4B53; */
    border: 1px solid red;
    border-radius: 5px;
    width: 220px;
}
.notification_success{
    background-color: #ffffff;
    position: absolute;
    transition: all 0.5s ease-out;
    width: 220px;
    padding: 1em;
    /* text-wrap: nowrap; */
    display: flex;
    border: 1px solid #00ff04;
    border-radius: 5px;
}
.icon{
    margin-right: 10px;
}