@import url("./assets/fonts/font/stylesheet.css");
body {
  background-color: #D1D6E4;
  margin: 0;
  font-family: 'Tektur';
  font-weight: 400;
  letter-spacing:  0.15ch;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

