.container{
    height: 92vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.form{
    border-radius: 20px;
    background: rgb(34, 32, 40);
    padding: 0 75px;
    padding-bottom: 20px;
    width: 35%;
    min-width: min-content;
}
.logo{
    width:36%;
    min-width: 250px;
}
.title{
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin: 0;
}
.block{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
}
.input{
    margin-top: 25px;
    width: 33%;
    font-size: 20px;
    letter-spacing: 0.2em;
    padding: 2px;
    height: 2.6em;
    border-radius: 5px;
    background: rgb(77, 75, 83);
    color: rgb(255, 255, 255);
    font-family: inherit;
    border: none;
    text-align: center;
}
.label{
    font-size: 14px;
    text-align: center;
    color: rgb(255, 255, 255);

}