input[type=checkbox].switch{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label.switch_label {
    cursor: pointer;
    text-indent: -9999px;
    width: 2em;
    height: 1em;
    background: #4d4b53;
    display: block;
    border-radius: 1em;
    position: relative;
  }
  
  label.switch_label:after {
    content: '';
    position: absolute;
    top: 0.05em;
    left: 0.05em;
    width: 0.9em;
    height: 0.9em;
    background: #ffffff;
    border-radius: 0.9em;
    transition: 0.3s;
  }
  
  input.switch:checked + label.switch_label {
    background: #ffffff;
  }
  
  input.switch:checked + label.switch_label:after {
    left: calc(100% - 0.05em);
    transform: translateX(-100%);
    background: #4d4b53;
  }
  
  label.switch_label:active:after {
    width: 1.3em;
  }