.div{
    background-color: #222028;
    color: #FFFFFF;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    /* max-width: max-content; */
    flex-direction: column;
    width: 22vw;
    transition-property: width;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
.hiden{
    /* display: none; */
    width:0;
    height:0;
    transition-property: width;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
.header{
    display: flex;
    height: 10vh;
    min-height: max-content;
    padding: 0 30px;
    align-items: center;
}

.button{
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 16px;
    width: auto;
    height: auto;
    transition-property: height, width, font-size;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.button:hover{
    background-color: #4D4B53;
}

.exit{
    margin-top: auto;
    text-align: end;
    padding-right: 30px;
    align-content: center;
    height: 8vh;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 40px;
}
.icon{
    width: 35px;
    height: 35px;
    transition-property: height, width;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
.icon:hover{
    background-color: #4D4B53;
}

.logo{
    width: 70%;
    min-width: 180px;
    height:auto;
    transition-property: width, height;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
.icon_button{
    width: 46px;
    height: 46px;
    transition-property: height, width;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
.icon_hiden{
    width:0;
    height:0;
    transition-property: height, width;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
.short{
    align-items: center;
    padding:0;
    overflow-x: hidden;

}
.short_div{
    align-items: center;
    width: 4vw;
    padding: 0 25px;
    overflow-x: hidden;
    transition-property: width;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
.short_button{
    display: flex;
    width: 100%;
    font-size: 0px;
    padding: 4% 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    justify-content: center;
}
.short_button#text{
    position:fixed;
}